@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#outerModalContainer{
  border: 10px solid gray;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%; 
  /* z-index: 50;
  inset: 0;
  position: fixed;
  justify-self: center;
  align-items: center; */

}
#innerModalContainer{
  padding:20px;
  background-color: white;
  width: 80%;
  height: 80%;
  /* justify-self: center; */
}
.inner-modal-text {
  color: black;
}
form{
  /* background-color: gray; */
  height: 50px;
  border: 2px solid black;
  border-radius: 4px;
}
button.modal-button-text {
  border: 3px black;
}
.modal-button-text{
  border: 1px solid white;
  border-radius: 2px;
  background-color: gray;
  color: white;
  padding: 5px;
}
.discount-button-text{
  background-color: green;
  color: white;
}
.radioHolder{
  display: flex;
  flex-direction: row;
}
li button{
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
}